/* Header.css */
.header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column
  }
  
  .task-input {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
  }
  
  .add-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  